---
layout: default
title: CSC 309 Announcements Fall 2016
---
{% include JB/setup %}

<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
   
                <h1>Announcements</h1>
                <ul class="posts">
                    {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
                    </br>
                    {{post.content}}
                    </li>
                    {% endfor %}
                    
                </ul>
                
          </div>
      </div>
  </div>
</div>

<!--
<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
-->

