<a href="#content" tabindex="0" class="accessibility-aid">Skip to content</a>

<header class="header">
  <a class="header__logo" href="/">
    <p class="header__logo__title">{{ site.title }}</p>
    <p class="header__logo__subtitle">{{ site.description }}</p>
  </a>

  <nav class="header__nav">
    <a id="js-mobile-menu-trigger" class="header__nav__icon" href="#">
      <span class="header__nav__icon__text">Menu</span>

      <div class="header__nav__icon__lines" aria-hidden="true">
        <div class="header__nav__icon__lines__line"></div>
        <div class="header__nav__icon__lines__line"></div>
        <div class="header__nav__icon__lines__line"></div>
      </div>
    </a>

    <div id="js-mobile-menu" class="header__nav__menu">
      {% for link in site.data.nav %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
          {% assign current = 'header__nav__menu__item--current' %}
        {% endif %}

        <a class="header__nav__menu__item {{ current }}" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
  </nav>
</header>
