<a href="#content" tabindex="0" class="accessibility-aid">Skip to content</a>

<header class="header">
  <a class="header__logo" href="/">
    <p class="header__logo__title">{{ site.title }}</p>
    <p class="header__logo__subtitle">{{ site.description }}</p>
  </a>

  <nav class="header__nav">
    <a id="js-mobile-menu-trigger" class="header__nav__icon" href="#">
      <span>Menu</span>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 15">
        <path d="M18 1.484c0 .82-.665 1.484-1.484 1.484H1.484C.664 2.968 0 2.304 0 1.484S.665 0 1.484 0h15.03C17.334 0 18 .665 18 1.484zm0 6.032C18 8.336 17.335 9 16.516 9H1.484C.664 9 0 8.335 0 7.516c0-.82.665-1.484 1.484-1.484h15.03c.82 0 1.486.664 1.486 1.484zm0 6c0 .82-.665 1.484-1.484 1.484H1.484C.664 15 0 14.335 0 13.516c0-.82.665-1.484 1.484-1.484h15.03c.82 0 1.486.664 1.486 1.484z"/>
      </svg>
    </a>

    <div id="js-mobile-menu" class="header__nav__menu">
      {% for link in site.data.nav %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
          {% assign current = 'header__nav__menu__item--current' %}
        {% endif %}

        <a class="header__nav__menu__item {{ current }}" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
  </nav>
</header>
