.assistants {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    width: 100%;
}
.assistants figure {
    display: inline-block;
    margin: 0.5em;
}
.assistants figure figcaption {
    text-align: center;
}
.assistants figure img {
    width: 200px;
    background: #e2e2e2;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
