.contact {
  border: 1px solid $grey-200;
  display: table;
  padding: 0.5em;

  img,
  dl {
    display: table-cell;
    vertical-align: top;
    margin-right: 0.5em;

    @include mobile {
      display: block;
    }
  }

  dl {
    @include mobile {
      margin-top: 1em;
    }
  }
}
