// Post listings/individual posts
// ----------------------------------------------------------

.posts {
  list-style-type: none;

  li + li {
    margin-top: 1.5em;
  }

  p {
    font-size: 0.9em;
  }
}

.post {
  pre,
  code {
    background-color: $grey-200;
    border: 1px solid $grey-400;
    overflow: scroll;
    padding: 0.5em 1em;
  }

  code {
    padding: 0.125em 0.35em;
  }

  pre code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

  ul,
  ol {
    margin-left: 1.35em;
  }
}

.post__header {
  h1 {
    margin: 0 0 0.5em;
  }
}

  .post__header__meta {
    color: $grey-300;
    margin-bottom: 0.5em;
  }

.post__content {
  position: relative;

  > * {
    margin: 1em 0;
  }

  blockquote {
    border-left: 4px solid #e8e8e8;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -1px;
    margin: 30px 0;
    opacity: 0.6;
    padding-left: 20px;
  }

  ul,
  ol {
    margin-left: 0;
    padding-left: 1.5em;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
