---
---

@import 'variables';
@import 'core';
@import 'syntax';


/* Base */
/* ----------------------------------------------------------*/

::selection {
  background-color: #d5d5d5;
}

body {
  background-color: #d5d5d5;
  display: table;
  font: 400 16px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }


/* Tables */

th, td {
  border: 1px solid lighten($grey, 50%);
  padding: 0.25em 0.5em;
}

th { border-bottom-width: 2px; }

th, tr:nth-child(even) {
  background-color: lighten($grey, 80%);
}


/* Utility */

.wrap {
  margin: 0 auto;
  max-width: 2000px;
  padding: 0 30px;
  width: 85%;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Accessibility */

.accessibility-aid {
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  margin: 0;

  &:focus {
    height: auto;
    width: auto;
    clip: auto;
    z-index: 1;
    top: 0;

    color: #fff;
    padding: 0.5em 1em;
    font-weight: 600;
  }
}

/* Site header */

.site-header {
  background: #0d1117;
  color: #fff;
  padding: 1em 0;
  width: 100%;
}

.site-logo,
.site-logo:hover,
.site-logo:visited {
  display: block;
  color: #fff;
  text-decoration: none;
}

  .site-logo__title {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 4px;
    z-index: 1;
  }

  .site-logo__subtitle {
    color: #bebfbf;
  }

.site-nav {
  margin-top: 2em;

  .menu-icon { display: none; }

  .page-link {
    border-bottom: 1px solid transparent;
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;
    margin-right: 20px;
    padding: 0.25em 0;
    transition: border-color 0.3s;

    &:hover {
      border-color: #fff;
      text-decoration: none;
    }
  }

  .current {
    border-color: #fff;
  }
}


/* Site footer */

.site-footer {
  background-color: #242424;
  width: 100%;

  .wrap {
    background-color: $mid-grey;
    color: #fff;
    display: table;
    height: 100%;
    padding: 0;
  }
}

.footer-info {
  padding: 3em 30px;
  vertical-align: middle;

  .top {
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 0.9em;
    height: 2em;
    margin-bottom: 2em;
    opacity: 0.4;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
    width: 2em;

    &:hover {
      opacity: 1;
    }
  }
}

  .footer-contact {
    li {
      list-style: none;
      font-weight: 300;
      margin: 0.5em 0;
    }
  }


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  display: table-row;
  height: 100%;

  .wrap {
    background-color: #fff;
    height: 100%;
  }
}

.responsive-iframe {
  border-width: 0;
  width: 100%;
  height: 500px;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home {
  padding-bottom: 1.5em;
  width: 100%;

  h1 {
    background-color: $grey;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0.75em;
    width: 100%;
  }
}

.posts {
  list-style-type: none;

  li + li { margin-top: 1.5em; }

  .post-link {
    color: $grey;
    display: block;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 0.9em;
  }
}

.page-list {
  margin: 0 !important;
  padding: 0 !important;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post { padding: 1.5em 0; }

.post-header {
  margin: 10px 0 30px;

  h1 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: -1.75px;
    line-height: 1;
    margin-bottom: 0.4em;
  }

  .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
  }
}

.post-content {
  position: relative;

  > * { margin: 20px 0; }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 300;
    margin: 40px 0 20px;
  }

  h2 {
    font-size: 32px;
    letter-spacing: -1.25px;
  }

  h3 {
    font-size: 26px;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }

  blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.post {
  pre, code {
    border-radius: 3px;
    border: 1px solid #d5d5e9;
    background-color: #eef;
    padding: 8px 12px;
    font-size: 15px;
    overflow: scroll;
  }

  code { padding: 1px 5px; }

  ul, ol { margin-left: 1.35em; }

  pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

  /* terminal */
  pre.terminal {
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #333;
    color: #fff;
  }

  pre.terminal code { background-color: #333; }
}


/* Media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {
  .wrap { width: 100%; }
}

@media screen and (max-width: 600px) {
  .wrap { padding-left: 12px; padding-right: 12px; }

  .site-header .wrap {
    background-image: none;
  }

  .site-nav {
    background-color: #fff;
    border: 1px solid lighten($dark-grey, 50%);
    margin-top: 0;
    position: fixed;
    right: 8px;
    top: 8px;
    z-index: 1000000;
  }

  .site-nav .menu-icon {
    color: $dark-grey;
    display: block;
    float: right;
    font-size: 16px;
    line-height: 33px;
    padding: 0 0.5em;
    text-align: center;
    text-transform: uppercase;
    width: 96px;

    &:hover { text-decoration: none; }

    span,
    svg {
      display: inline-block;
      vertical-align: middle;
    }

    span { margin-right: 0.5em; }

    svg { width: 18px; height: 15px; }
  }

  .site-nav .trigger {
    border-top: 1px solid lighten($dark-grey, 50%);
    clear: both;
    display: none;
    margin-bottom: 5px;
  }

  body.showmenu .trigger {
    display: block;
  }

  .site-nav .page-link {
    display: block;
    color: #000;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px 5px 20px;
    margin: 0;
  }

  .post-header  h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .footer-info {
    display: block;
    padding: 3.5em 12px 2em;
    width: 100%;
  }
}
