.navbar-default{
    background-color: #6600cc;
    color: #FFFFFF;
}
.navbar-header {
    background-color: #6600cc;
    color: #FFFFFF;
}

.navbar-nav {
    background-color: #6600cc;
    color: #FFFFFF;
}

.icon-bar {
    background-color: #6600cc;
    color: #FFFFFF;
}
.navbar-default .navbar-brand {
   color: #FFFFFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #00cc66;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
      color: #00cc66;
          background-color: transparent
}

a {
    color: #00cc66;
}

/*.responsiveCal {
	position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}
   
.responsiveCal iframe {
	position: absolute; top:0; left: 0; width: 100%; height: 100%;
}*/

/* Responsive iFrame */

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}